<% include partials/header %>

<link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>

<div class="viewPort">
    <div class="dropToDrink">
        <div id='stars'></div>
        <div id='stars2'></div>
        <div id='stars3'></div>
        <div class="wave-01"></div>
        <div class="wave-02"></div>
        <div class="wave-03"></div>
        <div class="moon"></div>
        <div class="container inputGroup justify-content-center ">
            <div class="card text-center" id="inputStuff">
              <div class="card-block">
                <p class="card-text" id="TributeText">Tribute</p>
                <input type="text" class="" id="TributeInput" placeholder="Enter Tribute">
                <p class="card-text" id="qTitle">Question</p>
                <input type="text" class="" id="QuestionInput" placeholder="Enter your question here...">
                <button class="subButton btn btn-primary" onclick="subClicked()">Inquire</button>
              </div>
            </div>
        </div>
        <div>
            <ul id="mysteryText">
                    <!--response goes here-->
            </ul>
        </div>
    </div>
</div>



<!--<div>-->
<!--  <p id="sekrets"></p>-->
<!--  <p id="log"></p>-->
<!--</div>-->

<% include partials/footer %>

<!--
Notes:
       theme (my creatures or Lovecraft)  | |
       other improvements                 | |
       overall design/animations          | |
       decide on about page/lore page     | |
       check responsiveness               | |
-->