<% include partials/header %>


<!--<div class="horizon">-->
<!--    <div class="wave"></div>-->
<!--</div>-->


<!--<div class="loader">-->
<!--    <h1>Water</h1>-->
<!--</div>-->
<div class="viewPort">
    <div class="dropToDrink">
        <div class="wave-01"></div>
        <div class="wave-02"></div>
        <div class="wave-03"></div>
        <div class="moon"></div>
    </div>
</div>


<% include partials/footer %>