<html>
    <head>
        <title>Telemetry Stream</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <!-- Image and text -->
    <nav class="navbar" style="background-color:#667292">
      <a class="navbar-brand" href="/" style="color: black">
        <img src="/TeamLogo.png" width="30" height="30" class="d-inline-block align-top" alt="">
        Telemetry Stream
      </a>
    </nav>
    <body style=""> <!--background-color:#b7d7e8-->
        
