<h1>This is the secret page!</h1>

<p>You found me!</p>

<img src="https://s-media-cache-ak0.pinimg.com/736x/d4/d3/3a/d4d33a346d294ec12acec7da856d7781--cthulhu-art-lovecraft-cthulhu.jpg">

<li><a href="/register">Sign Up</a></li>
<li><a href="/login">Login!</a></li>
<li><a href="/logout">Logout</a></li>